.header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 34px;
  margin: 0 90px 0;
}

.header .header-nav .header-nav__logoimg a {
  text-decoration: none;
}

.header .header-nav .header-nav__logoimg img {
  vertical-align: bottom;
}

.header .header-nav .header-nav__shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-nav .header-nav__shopping a {
  text-decoration: none;
  color: #000000;
  display: block;
}

.header .header-nav .header-nav__shopping .header-nav__shopping-btn {
  padding: 8px 13px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border-radius: 2rem;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.header .header-nav .header-nav__shopping .header-nav__shopping-btn:hover {
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.header .header-nav .header-nav__shopping .header-nav__shopping-cartimg {
  width: 30px;
  display: inline-block;
}

.header .header-nav .header-nav__shopping .header-nav__shopping-cartimg img {
  vertical-align: bottom;
}

.top-container img {
  vertical-align: bottom;
}

.section-top {
  margin: 13.17vw 0 0 0;
}

.section-top .section-top__first-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 12.44vw;
  position: relative;
}

.section-top .section-top__first-wrapper .section-top__first-wrapper__img {
  max-width: 34.9vw;
}

.section-top .section-top__first-wrapper .section-top__first-wrapper__img img {
  vertical-align: bottom;
}

.section-top .section-top__first-wrapper .section-top__first-wrapper__subcopy h2 {
  font-size: 3.07vw;
  font-weight: 300;
  padding: 1.24vw 1.46vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  text-shadow: 6px 3px 7px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 43px;
  right: -40px;
}

.section-top .section-top__first-wrapper .section-top__first-wrapper__subcopy .section-top__first-wrapper__subcopy-text {
  text-align: left;
  margin: 0 0 2.19vw 5.12vw;
}

.section-top .section-top__first-wrapper .section-top__first-wrapper__subcopy .section-top__first-wrapper__subcopy-text p {
  font-size: 2.04vw;
  display: inline-block;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.15);
}

.section-top .section-top__first-wrapper .section-top__first-wrapper__subcopy .section-top__first-wrapper__subcopy-text p::after {
  content: "";
  position: relative;
  bottom: -4px;
  height: 10px;
  float: left;
  width: 100%;
  background-color: #DDC5B9;
  border-radius: 1rem;
  margin-top: 0.36vw;
}

.section-top .section-top__first-wrapper .section-top__first-wrapper__subcopy .section-top__first-wrapper__subcopy-text p:last-child {
  padding: 2.19vw 0 0 3.66vw;
}

.section-top .section-top__second-wrapper {
  margin: 5.12vw 12.44vw 0;
}

.section-top .section-top__second-wrapper .section-top__second-wrapper__exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.section-top .section-top__second-wrapper .section-top__second-wrapper__exp:nth-child(n+2) {
  padding-top: 4.39vw;
}

.section-top .section-top__second-wrapper .section-top__second-wrapper__exp li {
  list-style: none;
  font-size: 1.68vw;
}

.section-top .section-top__second-wrapper .section-top__second-wrapper__exp li p {
  line-height: 2.3vw;
}

.section-top .section-top__second-wrapper .section-top__second-wrapper__exp .section-top__second-wrapper__exp-img {
  max-width: 10.02vw;
  width: 100%;
}

.section-top .section-top__second-wrapper .section-top__second-wrapper__exp .section-top__second-wrapper__exp-img img {
  vertical-align: bottom;
}

.section-top .section-top__plusimg {
  margin: 4.75vw auto;
  max-width: 3.22vw;
  width: 100%;
}

.section-top .section-top__plusimg img {
  vertical-align: bottom;
}

.section-top .section-top__third-wrapper {
  margin: 0 12.44vw  0;
  padding-bottom: 11.27vw;
  position: relative;
}

.section-top .section-top__third-wrapper .section-top__third-wrapper__supple {
  background-color: #FFFFFF;
  border: solid 3px #DDC5B9;
}

.section-top .section-top__third-wrapper .section-top__third-wrapper__supple .section-top__third-wrapper__supple-add1 {
  font-size: 1.90vw;
  padding: 1.83vw 0;
}

.section-top .section-top__third-wrapper .section-top__third-wrapper__supple .section-top__third-wrapper__supple-add2 {
  text-align: left;
  line-height: 2.5vw;
  margin: 0 0.73vw;
  padding-bottom: 1.83vw;
  font-size: 1.39vw;
}

.section-top .section-top__third-wrapper .section-top__third-wrapper__img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 22.62vw;
  width: 100%;
}

.section-howto {
  margin: 1.9vw 12.44vw 0;
}

.section-howto h2 {
  width: 15.22vw;
  margin: 0 auto;
}

.section-howto h2 img {
  vertical-align: bottom;
}

.section-howto .section-howto__p {
  font-size: 1.46vw;
  padding-top: 1.83vw;
  text-align: left;
  line-height: 2.5vw;
}

.section-howto .section-howto__component {
  margin-top: 3.66vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #594666;
  padding: 3.66vw 3.29vw;
}

.section-howto .section-howto__component .section-howto__component-img {
  max-width: 34.26vw;
  width: 100%;
}

.section-howto .section-howto__component .section-howto__component-img img {
  vertical-align: bottom;
}

.section-howto .section-howto__component .section-howto__component-content {
  width: 30.23vw;
  color: #FFFFFF;
}

.section-howto .section-howto__component .section-howto__component-content .section-howto__component-content__inter .section-howto__component-content__inter-1 {
  font-size: 1.46vw;
}

.section-howto .section-howto__component .section-howto__component-content .section-howto__component-content__inter .section-howto__component-content__inter-2 {
  font-size: 1.31vw;
  padding-top: 1.09vw;
}

.section-howto .section-howto__component .section-howto__component-content__detail {
  margin-top: 2.56vw;
}

.section-howto .section-howto__component .section-howto__component-content__detail .section-howto__component-content__detail-1 {
  font-size: 1.46vw;
}

.section-howto .section-howto__component .section-howto__component-content__detail .section-howto__component-content__detail-2 {
  font-size: 1.31vw;
  line-height: 2.5vw;
  padding-top: 1.09vw;
}

.section-voice {
  margin: 13.17vw 12.44vw 13.17vw;
}

.section-voice h2 {
  width: 15.22vw;
  margin: 0 auto;
}

.section-voice .section-voice__box {
  margin-top: 1.83vw;
}

.section-voice .section-voice__box .section-voice__box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.section-voice .section-voice__box .section-voice__box-wrapper li {
  width: 20.05vw;
  text-align: left;
  line-height: 2vw;
  font-size: 1.31vw;
  background-color: #FFFFFF;
  border: solid 4px #DDC5B9;
  padding: 1.83vw 0.73vw;
  -webkit-box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
}

.section-voice .section-voice__box .section-voice__box-wrapper li:nth-child(n+4) {
  margin-top: 1.83vw;
}

.section-voice .section-voice__box .section-voice__box-wrapper li .section-voice__box-wrapper__text {
  padding-top: 1.83vw;
}

.footer {
  height: 110px;
  background-color: #DDC5B9;
  position: relative;
}

.footer small {
  color: #FFFFFF;
  font-size: 1.6rem;
  position: absolute;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=top.css.map */